streamlit
google-generativeai
pytesseract
Pillow
opencv-python
pdf2image
gTTS
SpeechRecognition
sqlalchemy
apscheduler
reportlab
fpdf2
folium
streamlit-folium
python-dotenv
requests
bcrypt
twilio
groq